* {
    margin: unset;
}

body {
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: rgb(200, 193, 181);
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 70%;
    min-height: 100vh;
    height: auto;
    background-color: rgb(254, 238, 222);
    isolation: isolate;
}

main:after {
    --line-width: 0.1vmax;
    --spacing: 0.65vmax;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent var(--spacing), currentColor var(--spacing), currentColor calc(var(--spacing) + var(--line-width)));
    color: #78634c28;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -1;
}

.converterparent {
    --midsection-width:10vw;

    margin-block: auto;
    display: grid;
    grid-template-columns: 1fr var(--midsection-width) 1fr;
    gap: 10px;
    height: auto;
}

.midsection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 300px;
    width: var(--midsection-width);
}

.button-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

textarea {
    border: none;
    box-shadow: inset 0 0 5px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: clamp(200px, 25vw, 500px);
    resize: vertical;
    min-height: 40vh;
    padding-inline: 10px;
    background-color: rgb(255, 241, 221);
    outline: 1px solid rgba(255, 255, 255, 0.598);
}

select {
    width: 100%;
}

button {
    font-size: 1.2em;
    background: rgb(248, 199, 115);
    border: none;
    border-radius: 5px;
    padding-inline: 1em;
    padding-block: 0.5em;
    outline: 1px solid #ffffff80;
    box-shadow: 0 2px 2px black;
    transition: box-shadow 50ms;
}

button[data-active="1"] {
    box-shadow: 0 0px 1px black;
}
